@import "../../styles/variables.css";

/* Customize the label (the container) */
.checklist-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checklist-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checklist-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: var(--checkbox-background);
  border: 1px solid var(--checkbox-border);
}

/* On mouse-over, add a grey background color */
.checklist-container:hover input ~ .checklist-checkmark {
  background-color: var(--checkbox-hover-background);
}

/* When the checkbox is checked, add a blue background */
.checklist-container input:checked ~ .checklist-checkmark {
  background-color: var(--checkbox-checked-background);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checklist-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checklist-container input:checked ~ .checklist-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checklist-container .checklist-checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid var(--checkbox-tick);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
