@import "./styles/variables.css";

body {
  background-color: var(--background-color);
  font-family: "Helvetica", sans-serif;
  color: var(--font-color);
}

.buttons {
  height: 50px;
  width: 300px;
  display: flex;
  gap: 1rem;
}
